<div class="container-fluid">
  <div class="row">

    <div class="col-10">
      <Shared::PaginationNav
        @currentPage={{@currentPage}}
        @totalPages={{@totalPages}}
        @onChangePage={{@onChangePage}}
      />
    </div>

    <div class="col-2 text-right">
      <Form::Select @value={{this.size}} @options={{@sizeOptions}} @onChange={{action this.handleChangeSize}} />
    </div>

  </div>

  <div class="row">
    <div class="col-6 text-muted">
      Page <strong>{{@currentPage}}</strong> of {{@totalPages}}
    </div>
    <div class="col-6 text-muted text-right">
      All items: {{@total}}
    </div>
  </div>

</div>