<Shared::PaginationNav @currentPage={{@currentPage}} @totalPages={{@totalPages}} @onChangePage={{@onChangePage}} />

<div class="container-fluid">
  <div class="row">
    <div class="col-10 text-muted" style="font-size: 0.9em;">
      {{lang "All items"}}: {{@total}}
    </div>

    <div class="col-2 text-right">
      <Form::Select @value={{this.size}} @options={{@sizeOptions}} @onChange={{action this.handleChangeSize}} />
    </div>
  </div>
</div>