<select class="form-control form-control-sm" {{on "change" @onChange}}>

  {{#each @options as |item|}}
    {{#if (equal @value item.value)}}
      <option value={{item.value}} selected>{{item.label}}</option>
    {{else}}
      <option value={{item.value}}>{{item.label}}</option>
    {{/if}}
  {{/each}}

</select>