<hr />
<i>I'm component Wrappers::ListsView</i>

<h2>{{@title}}</h2>

{{yield}}

<hr />

<Pagination
  @size={{@meta.size}}
  @total={{@meta.total}}
  @currentPage={{@meta.currentPage}}
  @totalPages={{@meta.totalPages}}
  @onChangePage={{@onChangePage}}
  @onChangeSize={{@onChangeSize}}
  @sizeOptions={{this.sizeOptions}}
/>