<hr />
<i>I'm component Wrappers::ListsView</i>

<h2>{{@title}}</h2>


{{yield}}


All: {{@meta.total}} | Page: <strong>{{@meta.currentPage}}</strong>/{{@meta.totalPages}} | Size:

<InputSelect @value={{@meta.size}} @options={{this.pageOptions}} @onChange={{this.handleSizeChange}} />

<p>size: {{@meta.size}}</p>

<hr />