<div class="card">
  <div class="card-header">
    <span>
      {{#if (equal @mode "list")}}
      <i class="fa fas fa-th-list"></i>
      {{/if}}
      {{#if (equal @mode "details")}}
      <i class="fa fas fa-eye"></i>
      {{/if}}
      {{#if (equal @mode "create")}}
      <i class="fa fas fa-plus-circle"></i>
      {{/if}}
      {{#if (equal @mode "edit")}}
      <i class="fa fas fa-edit"></i>
      {{/if}}
      {{@header}}
    </span>

    <div class="float-right">
      {{#if (includes @mode "edit|details|create")}}
      <LinkTo @route={{@backRoute}}>
        <Shared::BtnBack @label={{lang "Back to list"}} />
      </LinkTo>
      {{/if}}

      {{#if (includes @mode "edit|create")}}
      <Shared::BtnSave />
      {{/if}}

      {{#if (equal @mode "list")}}
      <LinkTo @route={{@createRoute}}>
        <button type="button" class="btn btn-success btn-sm">
          <i class="fa fas fa-plus"></i>
          {{@createLabel}}
        </button>
      </LinkTo>
      {{/if}}
    </div>

  </div>
  <div class="card-body">
    {{yield}}
  </div>
</div>